<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
   
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div>

 <div id="columns">
    <div id="side">
      <% if @cart %>

        <%= hidden_div_if(@cart.line_items.empty?, :id => 'cart') do %>
          <%= render @cart %>

        <% end %>
      <% end %>
       
 
       <ul>
        <li><a href="http://localhost:3000/"><%= t('.home') %></a></li>
        <li><a href="http://localhost:3000/products"><%= t('.Listing products') %></a></li>
        <li><a href="http://localhost:3000/en/users/new"><%= t('.new user') %></a></li>
        <li><a href="http://localhost:3000/login"><%= t('.Login') %></a></li>
         <li><a <%= t('.translate home page:') %></a></li>
         <li><a href="http://localhost:3000/es"><%= t('.ES') %>  <a href="http://localhost:3000/en"><%= t('.en') %></a></li>

      </ul>

     <ul>
      <li><a <%= t('.translation does not work!!!') %></a></li> <%= form_tag store_path, :class => 'locale' do %>
      <%= select_tag 'set_locale', 
        options_for_select(LANGUAGES, I18n.locale.to_s),
        :onchange => 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()" %> 
    <% end %>
      </ul>
      <ul>
             <li><a <%= t('.we are on the map:') %></a></li>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10549.708606386152!2d22.305085037048315!3d48.62080758152787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919ba78429581%3A0xd16620f6efd88e18!2z0LLRg9C7LiDQktC-0LvQvtGI0LjQvdCwLCA1NCwg0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sru!4v1418127392848" width="200" height="250" frameborder="0" style="border:0"></iframe>
              </ul>
 
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders',   orders_path   %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users',    users_path    %></li>
        </ul>
        <%= button_to 'Logout', logout_path, :method => :delete   %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
